html,
body {
	padding: 0;
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.custom-gradient {
	background: linear-gradient(143deg, #effafd 0%, #c2d1e5 100%);
}

.custom-gradient-mobile {
	background: linear-gradient(150deg, #f4feff 0%, #d1deee 100%);
}
